@import "./base.scss";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  font-family: "PT Sans", sans-serif;
  color: var(--color-text);
  stroke: var(--color-text);
  fill: var(--color-text);
}

#app {
  overflow: hidden;
}
